:root {
  --primary: #000;
  --surface-0: #1d1d1d;
  --surface-1: #323232;
  --surface-2: #444444;
  --surface-3: #5b5b5b;
}


body {
  background-color: var(--primary);
  margin: 0;
}


#profile {
  background-color: var(--surface-0);
  border: 2px solid white;
  border-radius: 18px;
  box-sizing: border-box;
  height: 80vh;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;

  > #main-container {
    box-sizing: border-box;
    width: 38%;

    header {
      box-sizing: border-box;
      position: relative;

      > #profile-banner {
        aspect-ratio: 21 / 9;
        background-color: black;
        box-sizing: border-box;
        width: 100%;

        & + #profile-icon {
          top: calc(100% - 3rem);
        }
      }

      > #profile-icon {
        border: 7px solid var(--surface-0);
        border-radius: 50%;
        box-sizing: border-box;
        height: 6rem;
        left: 2em;
        max-width: 100%;
        position: absolute;
      }
    }
  }
}