:root {
  --primary: #000;
  --subtext-0: #a6adc8;
  --subtext-1: #bac2de;
  --surface-0: #1d1d1d;
  --surface-1: #323232;
  --surface-2: #444444;
  --surface-3: #5b5b5b;
  --text: #cdd6f4;
}


* {
  box-sizing: border-box;
}


body {
  background-color: var(--primary);
  margin: 0;
  overflow: clip;
}


#sidebar {
  border: solid white;
  border-top-left-radius: 13px;
  border-width: 2px 1px 0 2px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 2rem);
  left: 1.2rem;
  overflow: clip;
  position: absolute;
  top: 2rem;
  width: 310px;

  > .server {
    border-bottom: 1px solid white;
    padding: 0.8em 0.7em;

    > .name {
      color: white;
      font-family: sans-serif;
      font-size: 1.1em;
      font-weight: 560;
    }
  }
}


#profile-container {
  background-color: var(--surface-0);
  border: 2px solid white;
  border-radius: 18px;
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  height: 80vh;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;

  &.show {
    display: flex;
  }

  > #main-container {
    border-right: 1px solid darkgray;
    box-sizing: border-box;
    height: 100%;
    width: 38%;

    header {
      box-sizing: border-box;
      position: relative;

      > #menu-container {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        position: absolute;
        right: 1rem;
        top: 1rem;

        > #profile-menu {
          aspect-ratio: 1 / 1;
          background-color: var(--surface-1);
          border-radius: 50%;
          align-self: end;
          width: 2rem;

          &:hover {
            cursor: pointer;
          }

          &:focus + #profile-menu-list {
            visibility: visible;
          }
        }

        > #profile-menu-list {
          background-color: var(--surface-1);
          border-radius: 13px;
          color: white;
          font-family: arial;
          font-size: 0.9em;
          list-style-type: none;
          margin: 0;
          overflow: hidden;
          padding: 0;
          visibility: hidden;

          > li {
            padding: 0.5em 1em;

            &:first-child {
              padding-top: 1em;
            }

            &:hover {
              background-color: var(--surface-2);
              cursor: pointer;
            }

            &:last-child {
              padding-bottom: 1em;
            }
          }
        }
      }

      > #name-container {
        box-sizing: border-box;
        color: white;
        display: flex;
        flex-direction: column;
        padding-left: 2em;
        padding-top: 3rem;
        position: relative;
        width: 100%;

        > #display-name {
          font-family: Arial;
          font-size: 1.7em;
          font-weight: 800;
        }

        > #username {
          font-family: sans-serif;
          font-size: 1.1em;
        }
      }

      > #profile-banner {
        aspect-ratio: 21 / 9;
        background-color: black;
        box-sizing: border-box;
        width: 100%;

        & + #profile-icon {
          top: calc(((60vw * 0.38) * (9 / 21)) - 3rem);
        }
      }

      > #profile-icon {
        border: 7px solid var(--surface-0);
        border-radius: 50%;
        box-sizing: border-box;
        height: 6rem;
        left: 2em;
        max-width: 100%;
        position: absolute;
      }
    }

    main {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 1rem;
      padding-top: 1rem;

      > #bio-container {
        display: flex;
        flex-direction: column;

        > #bio {
          color: white;
          font-family: arial;
          font-size: 1em;
        }
      }

      > #connections-container {
        > #connections {
          display: flex;
          flex-direction: column;
          list-style-type: none;
          margin: 0;
          padding: 0;

          > .connection {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;

            &[type="github"] {
              > .connection-icon {
                background-image: url("assets/github.svg");

                .tooltip-content::before {
                  content: "GitHub";
                }
              }
            }

            > .connection-name {
              color: white;
              font-family: sans-serif;
              font-size: 1.1em;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
            
            > .connection-icon {
              align-items: center;
              aspect-ratio: 1 / 1;
              background-position: center;
              background-size: cover;
              border-radius: 50%;
              display: flex;
              flex-direction: column;
              height: 2.5rem;
              position: relative;

              &:hover > .connection-icon-tooltip {
                visibility: visible;
              }
              
              > .connection-icon-tooltip {
                background-color: var(--surface-0);
                border: 2px solid white;
                border-radius: 10px;
                color: white;
                font-family: sans-serif;
                font-size: 0.9em;
                padding: 0.25rem 0.5rem;
                position: absolute;
                top: calc(100% - 4.5rem);
                visibility: hidden;
              }
            }
          }
        }
      }
      
      > section {
        background-color: var(--surface-1);
        border-radius: 15px;
        padding: 1em;
        width: 90%;

        > .title {
          color: #666;
          font-family: sans-serif;
          font-weight: bold;
          padding-bottom: 0.4em;
        }
      }
    }
  }

  > #others-container {
    height: 100%;
    overflow: clip;
    position: relative;
    width: 62%;

    header {
      > nav {
        display: flex;
        flex-direction: row;
        padding: 1rem;

        > .navigation-item {
          background-color: inherit;
          border: none;
          border-bottom: solid white;
          border-bottom-width: 0;
          color: white;
          font-family: "Segoe UI";
          font-size: 1.1em;
          padding: 0.5rem;
          text-decoration: none;

          &:hover, &:focus {
            border-bottom-width: 3px;
            cursor: pointer;
            font-weight: bold;
          }
        }
      }
    }

    > main {
      max-height: calc(100% - 3rem - 1.1em - 5px);
      overflow-x: clip;
      overflow-y: auto;
      padding: 1rem;
      visibility: hidden;

      &:target {
        visibility: visible;
      }
    }

    > #works {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      scrollbar-width: none;

      > .work {
        background-color: var(--surface-1);
        border: 1px solid white;
        border-radius: 15px;
        color: white;
        font-family: arial;
        padding: 1rem;

        > p {
          margin: 0;
          max-width: calc(80% - 2rem);
          padding: 0;

          > .title {
            font-size: 1.3em;
            font-weight: 700;

            > a {
              color: inherit;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          > .description {
            font-family: arial;
            font-size: 0.9em;
          }
        }
      }
    }
  }
}