:root {
  --primary: #000;
  --subtext-0: #a6adc8;
  --subtext-1: #bac2de;
  --surface-0: #1d1d1d;
  --surface-1: #323232;
  --surface-2: #444444;
  --surface-3: #5b5b5b;
  --text: #cdd6f4;
}


* {
  box-sizing: border-box;
}


body {
  background-color: var(--primary);
  margin: 0;
}


#profile {
  background-color: var(--surface-0);
  border: 2px solid white;
  border-radius: 18px;
  box-sizing: border-box;
  height: 80vh;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;

  > #main-container {
    border-right: 1px solid darkgray;
    box-sizing: border-box;
    height: 100%;
    width: 38%;

    header {
      box-sizing: border-box;
      position: relative;

      > #name-container {
        box-sizing: border-box;
        color: white;
        display: flex;
        flex-direction: column;
        padding-left: 2em;
        padding-top: 3rem;
        position: relative;
        width: 100%;

        > #display-name {
          font-family: Arial;
          font-size: 1.7em;
          font-weight: 800;
        }

        > #username {
          font-family: sans-serif;
          font-size: 1.1em;
        }
      }

      > #profile-banner {
        aspect-ratio: 21 / 9;
        background-color: black;
        box-sizing: border-box;
        width: 100%;

        & + #profile-icon {
          top: calc(((60vw * 0.38) * (9 / 21)) - 3rem);
        }
      }

      > #profile-icon {
        border: 7px solid var(--surface-0);
        border-radius: 50%;
        box-sizing: border-box;
        height: 6rem;
        left: 2em;
        max-width: 100%;
        position: absolute;
      }
    }

    main {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      padding-top: 1rem;

      > #bio-container {
        display: flex;
        flex-direction: column;

        > #bio {
          color: white;
          font-family: arial;
          font-size: 1em;
          padding-top: 0.45em;
        }
      }
      
      > section {
        background-color: var(--surface-1);
        border-radius: 20px;
        padding: 0.8em;
        width: 90%;

        > .title {
          color: #666;
          font-family: sans-serif;
          font-weight: bold;
        }
      }
    }
  }
}